* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-wallpaper,
#custom-powermenu,
#custom-launcher,
#custom-vpn-dev,
#custom-vpn-prod,
#window,
#clock,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#workspaces,
#temperature,
#tray,
#backlight {
    background: #443C68;
    padding: 5px 10px;
    margin: 3px 1px;
    margin-top: 10px;
    border: 1px solid #181825;
    border-radius: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    /* background: #1e1e2e; */
}

#custom-vpn-dev,
#custom-vpn-prod {
    color: #89dceb;
}

#custom-vpn-dev.inactive,
#custom-vpn-prod.inactive {
    color: #EB455F;
}

#custom-vpn-dev.active,
#custom-vpn-prod.active {
    color: #5D9C59;
}

#custom-wallpaper {
    color: #f5c2e7;
}

#window {
}

#clock {
    color: #f9e2af;
}

#cpu,
#memory {
    color: #f38ba8;
}

#network {
    color: #fab387;
}

#pulseaudio {
    color: #89b4fa;
}

#battery {
    color: #a6e3a1;
}

#backlight {
    color: #cba6f7;
}
